.wrapper {
    display: flex;
    gap: 127px;
}


@media (min-width: 993px) and (max-width: 1200px) {
  .wrapper {
    gap: 5.6vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .wrapper {
    gap: 5vw;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .wrapper {
    gap: 9vw;
  }
  }

@media (max-width: 576px) {
  .wrapper {
    gap: 6.2vw;
  }
}


.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  margin-bottom: 24px;
}

.copyright {
  display: none;
}

@media (max-width: 768px) {
  .copyright {
    display: block;
    text-align: center;
    margin: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}